    {% load static %} 

    <div class="container-scroller" >

      <nav class="sidebar sidebar-offcanvas" id="sidebar" >
        
        <ul class="nav">
          {% if user.profile_image %}

          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                      <img src="{{user.profile_image.url}}" alt="profile" />
                
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3">
                <span class="font-weight-medium mb-2">{{user.username}}</span>
                
              </div>
             
            </a>
          </li>
          {% endif  %}



          <li class="nav-item">
            <a class="nav-link" href="{% url 'HomePage' %}">
              <i class="mdi mdi-home menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>




          <li class="nav-item">
            <a class="nav-link" href="{% url 'change-password' %}">
              <i class="mdi mdi-home menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Account Maintenance</span>
            </a>
          </li>




         


            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#parameters" aria-expanded="false" aria-controls="parameters">
              <i class="mdi mdi-crosshairs-gps menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Parameter</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="parameters">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'SignupPage' %}">Register New User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/UpdateUser/{{user.id}}">Merchant Configuration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelProcessConfigPage' %}">Process Config</a>
                </li>

                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelBusinessUnitPage' %}">Business Unit</a>
                </li>

                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelLocationCodePage' %}">Location Code</a>
                </li>


               <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelStoreCodePage' %}">Store Code</a>
                </li>


                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelStoreBinCodePage' %}">Store BIN Code</a>
                </li>




              </ul>
            </div>
          </li>





  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Materials" aria-expanded="false" aria-controls="Materials">
              <i class="mdi mdi-crosshairs-gps menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Material Maintenance</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Materials">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>








<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Sale" aria-expanded="false" aria-controls="Sale">
              <i class="mdi mdi-crosshairs-gps menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Sales & Distribution</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Sale">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>










<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#order" aria-expanded="false" aria-controls="order">
              <i class="mdi mdi-crosshairs-gps menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Order</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="order">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>










<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#events" aria-expanded="false" aria-controls="events">
              <i class="mdi mdi-crosshairs-gps menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Event</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="events">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>










<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Reports" aria-expanded="false" aria-controls="Reports">
              <i class="mdi mdi-crosshairs-gps menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Report</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Reports">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>








<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#VAT" aria-expanded="false" aria-controls="VAT">
              <i class="mdi mdi-crosshairs-gps menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">VAT</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="VAT">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>







                </ul>




              <div class="container-fluid page-body-wrapper">
       

        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">


            
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu" style="color: black;font-weight: bold;"></i>
            </button>


            

         {% if user.profile_image %}

            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              <li class="nav-item dropdown d-none d-xl-flex border-0">
              
              </li>
              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  
                  <img class="nav-profile-img mr-2" alt="" src="{{user.profile_image.url}}" />
                  
                  <span class="profile-name">{{user.username}}</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                  
                  <a class="dropdown-item" href="{% url 'LogoutPage' %}">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            {% endif %}

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>


</div>
      </nav>
