
{% extends 'TemplatesApp/base.html' %}
{% load static %}




{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Account</title>

    <style type="text/css">
      
input{
  padding: 10px;
  border-radius:10px;
  border:1px solid green;
  width:70%;

}
select{
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border:1px solid green;

}

input::placeholder{
  color: green;
  font-size: 16px;

}
.user-informations{
  margin-bottom: 20px;
  align-items: center;
}
.information-left-side{
  font-size: 16px;
}
label{
  margin-top: 20px;
}

    </style>
    
  </head>
  <body>
    



{% include 'TemplatesApp/sideBar.html' %}




<div class="main-panel">
          <div class="content-wrapper">








            <div class="page-header">
              <h3 class="page-title">Account Maintenance</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    
                      {% if messages %}
    {% for message in messages %}
     

          <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: green;">
  <strong style="font-size: 16px;color: white;">{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="color: red;"></button>
</div>
    {% endfor %}
  {% endif %}
                  



                  </li>
                 
                </ol>
              </nav>
            </div>











            <!-- mwanzo wa row -->
            <div class="row">



              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Update your password</h4>
                    <p class="card-description"></p>



<!-- mwanzo wa row -->
  <div class="row user-informations">

<div class="col-md-2">
  <h3 class="information-left-side">Login ID</h3>
</div>


<div class="col-md-9">
  {{user.UserRole.RoleName}}
</div>

    
  </div>
  <!-- mwisho wa row -->   




  <!-- mwanzo wa row -->
  <div class="row user-informations">

<div class="col-md-2">
  <h3 class="information-left-side">Name</h3>
</div>


<div class="col-md-9">
  {{user.company_name}}
  </div>

    
  </div>
  <!-- mwisho wa row --> 



  <!-- mwanzo wa row -->
  <div class="row user-informations">

<div class="col-md-2">
  <h3 class="information-left-side">Mobile Phone</h3>
</div>


<div class="col-md-9">
  {{user.phone}}
</div>

    
  </div>
  <!-- mwisho wa row --> 







<form class="forms-sample" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
        <label>Current Password </label><br>
        {{ form.old_password }}<br>

        <label>New Password </label><br>
        {{ form.new_password1 }}<br>


        <label>Confirmed Password </label><br>
        {{ form.new_password2 }}<br>
           

        {% for field in form %}
        {% if field.errors %}
        <p style="color: red">{{ field.errors.0 }}</p>
        {% endif %}

        {% endfor %}
    </div>
   

    <button type="submit" class="btn btn-success mr-2">Submit</button>
    <button type="reset" class="btn btn-light">Reset</button>
</form>






                                     </div>
                </div>
              </div>









</div>
 <!-- mwisho wa row -->






    
   </div>
 </div>
  </body>
</html>


{% endblock %}